# Dependencies
node_modules/
**/node_modules/

# Compiled output
dist/
**/dist/
build/
**/build/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Tests
coverage/
**/coverage/
.nyc_output/
**/.nyc_output/
*.lcov

# Cache
.cache/
**/.cache/
.parcel-cache/
**/.parcel-cache/
.npm/
.eslintcache
*.cache

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

# IDEs and editors
.idea/
**/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# IDE - VSCode
.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

# Package manager
.pnpm-store/
.yarn/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
